/.vs
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CMakeCache.txt
/CMakeFiles
CMakeSettings.json
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake_install.cmake
compailercarbon.sln
/x64
/out
/src/CMakeFiles
/src/compailerCarbon.dir
/src/Debug
/src/compailerCarbon.vcxproj
/src/compailerCarbon.vcxproj.filters
/dist/compailerCarbon/Debug/compailerCarbon.pdb
INSTALL.vcxproj
INSTALL.vcxproj.filters